 {{#if update}}
  <form class="vflex" method="POST" action="../update-item/{{item.id}}">
    <label for="productname">Product Name</label>
    <input type="text" id="productname" name="productname" value="{{item.productname}}">
        <label for="category">Category</label>
        <select id="category" name="category">
          {{#each categories}}
          {{#if (eq ../item.category.[0].id this.id)}}
          <option value={{this.id}} selected>{{this.name}}</option>
          {{else}}
          <option value={{this.id}}>{{this.name}}</option>
          {{/if}}
          {{/each}}
        </select>
        <label for="price">Price</label>
        <input type="number" id="price" name="price" value={{item.price}}>
        <label for="stock">Stock</label>
        <input type="number" id="stock" name="stock" value={{item.stock}}>
        <button type="submit">Update item</button>
  </form>
  {{else}}
   <form class="vflex" method="POST" action="./new-item">
       <label for="productname">Product Name</label>
      <input type="text" id="productname" name="productname"/>
      <label for="category">Category</label>
      <select id="category" name="category">
        {{#each categories}}
        <option value={{this.id}}>{{this.name}}</option>
        {{/each}}
      </select>
      <label for="price">Price</label>
      <input type="number" id="price" name="price"/>
      <label for="stock">Stock</label>
      <input type="number" id="stock" name="stock"/>
      <button type="submit">Create new item</button>
  </form>
{{/if}}