{{> nav}}

<div class="hflex">
{{> sidebar}}

<section id="item-viewer">


  <h1>Viewing {{current_category}}</h1>
  <h2>{{number_of_items}} items in this category</h2>
  
  {{#each items}}
  <div class="item hflex">
    <div>
      <img src="{{this.imgsrc}}" alt="{{this.imgalt}}">
    </div>
    <div>
 <p>Product Name: {{this.productname}}</p>
    <p>ID: {{this.id}}</p>
    <p>Category: {{#each this.category}} {{this.name}} {{/each}}</p>
    <p>Price: {{this.price}}</p>
    <p>Stock: {{this.stock}}</p>
    <a href="/inventory/update-item/{{this.id}}">Edit</a>
    <form method="POST" action="/inventory/delete-item">
    <input type="hidden" name="id" value={{this.id}}>
    <button class="link-button" type="submit">Delete</button>
    </form>
    </div>
   
  </div>
  <hr>
  {{else}}
  <p>No items to display.</p>
  {{/each}}
</section>
</div>

